.search_icon {
    width: 300px;
}

.ui-menubar	{mouseover: #ff0000; background-color: #A80000;}
	.ui-state-hover {cursor:hand;}
::ng-deep .menucus{
    background: #111111 !important;

    &:hover {
        background: #111111;
    }
}
.ui-menubar,.ui-menu-child,.ui-menu {
    background: #004e8e !important;
}