<div class="card" style="background-color: black;">
    <div class="flex">

        <div class="flex align-items-center justify-content-center font-bold text-white b"
            style="min-width: 100%; min-height: 500px;margin-bottom: 20px;background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1) ), url({{cover_image}}); background-size: cover; background-color: grey !important; ">
       
            <div class="flex flex-column align-items-left justify-content-center font-bold text-white b"
            style="max-width: 80%;min-width: 80%; min-height: 250px">
            
                <h1>Featured Story</h1>
                <h1>How to choose the right laptop ?</h1>
            
                <button style="max-width: 150px; min-height: 30px" pButton pRipple type="button" label="Success" class="p-button-raised p-button-success"></button>
        </div>
   

        </div>

    </div>
    <div class="flex flex-wrap card-container blue-container justify-content-center" style="max-width: 100%">
        <div class="flex align-items-center justify-content-center font-bold text-white m-2 border-round"
            style="min-width: 370px; min-height: 300px">
            <p-card header="How to install python on windows 11" [style]="{'width': '370px', 'margin-bottom': '2em'}">
                <ng-template pTemplate="header">
                    <img alt="Card" src="../.././../../assets/download.jpeg">
                </ng-template>
                <p>Open a browser to the Python website and download the Windows installer....</p>
            </p-card>
        </div>
        <div class="flex align-items-center justify-content-center font-bold text-white m-2 border-round"
            style="min-width: 370px; min-height: 300px">
            <p-card header="How to install python on windows 11" [style]="{'width': '370px', 'margin-bottom': '2em'}">
                <ng-template pTemplate="header">
                    <img alt="Card" src="../.././../../assets/download.jpeg">
                </ng-template>
                <p>Open a browser to the Python website and download the Windows installer....</p>
            </p-card>
        </div>
        <div class="flex align-items-center justify-content-center font-bold text-white m-2 border-round"
            style="min-width: 370px; min-height: 300px">
            <p-card header="How to install python on windows 11" [style]="{'width': '370px', 'margin-bottom': '2em'}">
                <ng-template pTemplate="header">
                    <img alt="Card" src="../.././../../assets/download.jpeg">
                </ng-template>
                <p>Open a browser to the Python website and download the Windows installer....</p>
            </p-card>
        </div>
        <div class="flex align-items-center justify-content-center font-bold text-white m-2 border-round"
            style="min-width: 370px; min-height: 300px">
            <p-card header="How to install python on windows 11" [style]="{'width': '370px', 'margin-bottom': '2em'}">
                <ng-template pTemplate="header">
                    <img alt="Card" src="../.././../../assets/download.jpeg">
                </ng-template>
                <p>Open a browser to the Python website and download the Windows installer....</p>
            </p-card>
        </div>
        <div class="flex align-items-center justify-content-center font-bold text-white m-2 border-round"
            style="min-width: 370px; min-height: 300px">
            <p-card header="How to install python on windows 11" [style]="{'width': '370px', 'margin-bottom': '2em'}">
                <ng-template pTemplate="header">
                    <img alt="Card" src="../.././../../assets/download.jpeg">
                </ng-template>
                <p>Open a browser to the Python website and download the Windows installer....</p>
            </p-card>
        </div>
        <div class="flex align-items-center justify-content-center font-bold text-white m-2 border-round"
            style="min-width: 370px; min-height: 300px">
            <p-card header="How to install python on windows 11" [style]="{'width': '370px', 'margin-bottom': '2em'}">
                <ng-template pTemplate="header">
                    <img alt="Card" src="../.././../../assets/download.jpeg">
                </ng-template>
                <p>Open a browser to the Python website and download the Windows installer....</p>
            </p-card>
        </div>
        <div class="flex align-items-center justify-content-center font-bold text-white m-2 border-round"
            style="min-width: 370px; min-height: 300px">
            <p-card header="How to install python on windows 11" [style]="{'width': '370px', 'margin-bottom': '2em'}">
                <ng-template pTemplate="header">
                    <img alt="Card" src="../.././../../assets/download.jpeg">
                </ng-template>
                <p>Open a browser to the Python website and download the Windows installer....</p>
            </p-card>
        </div>
        <div class="flex align-items-center justify-content-center font-bold text-white m-2 border-round"
            style="min-width: 370px; min-height: 300px">
            <p-card header="How to install python on windows 11" [style]="{'width': '370px', 'margin-bottom': '2em'}">
                <ng-template pTemplate="header">
                    <img alt="Card" src="../.././../../assets/download.jpeg">
                </ng-template>
                <p>Open a browser to the Python website and download the Windows installer....</p>
            </p-card>
        </div>
        <div class="flex align-items-center justify-content-center font-bold text-white m-2 border-round"
            style="min-width: 370px; min-height: 300px">
            <p-card header="How to install python on windows 11" [style]="{'width': '370px', 'margin-bottom': '2em'}">
                <ng-template pTemplate="header">
                    <img alt="Card" src="../.././../../assets/download.jpeg">
                </ng-template>
                <p>Open a browser to the Python website and download the Windows installer....</p>
            </p-card>
        </div>
        <div class="flex align-items-center justify-content-center font-bold text-white m-2 border-round"
            style="min-width: 370px; min-height: 300px">
            <p-card header="How to install python on windows 11" [style]="{'width': '370px', 'margin-bottom': '2em'}">
                <ng-template pTemplate="header">
                    <img alt="Card" src="../.././../../assets/download.jpeg">
                </ng-template>
                <p>Open a browser to the Python website and download the Windows installer....</p>
            </p-card>
        </div>

    </div>
</div>